* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #e7f1fd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

svg {
  display: block; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 2%;
  overflow: hidden; }
  @media (max-width: 520px) {
    .wrapper {
      background-image: url(../img/bg-small.jpg);
      padding: 20px; } }

.logo {
  width: 80px;
  width: 15vw;
  max-width: 80px;
  margin-bottom: 3vh; }
  .logo .rotate {
    -webkit-animation: rotate 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
            animation: rotate 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
    -webkit-transform-origin: 95% 5%;
            transform-origin: 95% 5%; }
  .logo .translateX {
    -webkit-animation: translateX 3s infinite -0.5s cubic-bezier(0.5, 0, 0.5, 1);
            animation: translateX 3s infinite -0.5s cubic-bezier(0.5, 0, 0.5, 1);
    -webkit-transform-origin: top center;
            transform-origin: top center; }
  .logo .translateY {
    -webkit-animation: translateY 1.5s infinite -1.25s cubic-bezier(0.5, 0, 0.5, 1);
            animation: translateY 1.5s infinite -1.25s cubic-bezier(0.5, 0, 0.5, 1);
    -webkit-transform-origin: top center;
            transform-origin: top center; }

@-webkit-keyframes rotate {
  0%, 100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); } }

@keyframes rotate {
  0%, 100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); } }

@-webkit-keyframes translateX {
  0%, 100% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%); }
  50% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%); } }

@keyframes translateX {
  0%, 100% {
    -webkit-transform: translateX(40%);
            transform: translateX(40%); }
  50% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%); } }

@-webkit-keyframes translateY {
  0%, 100% {
    -webkit-transform: translateY(0) scaleY(0.95);
            transform: translateY(0) scaleY(0.95); }
  50% {
    -webkit-transform: translateY(5%) scaleY(1);
            transform: translateY(5%) scaleY(1); } }

@keyframes translateY {
  0%, 100% {
    -webkit-transform: translateY(0) scaleY(0.95);
            transform: translateY(0) scaleY(0.95); }
  50% {
    -webkit-transform: translateY(5%) scaleY(1);
            transform: translateY(5%) scaleY(1); } }

.clouds {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .05;
  pointer-events: none; }
  @media (max-width: 480px) {
    .clouds {
      display: none; } }
  .clouds > div {
    position: absolute;
    left: 50%;
    -webkit-animation: cloud 10s infinite linear;
            animation: cloud 10s infinite linear; }
    @media (min-width: 700px) {
      .clouds > div {
        -webkit-animation-name: cloud-wide;
                animation-name: cloud-wide; } }
  .clouds .cloud1 {
    width: 177px;
    top: 25%; }
  .clouds .cloud2 {
    width: 214px;
    top: 50%;
    -webkit-animation-delay: -3s;
            animation-delay: -3s; }
  .clouds .cloud3 {
    width: 275px;
    top: 75%;
    -webkit-animation-delay: -7s;
            animation-delay: -7s; }

@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translate(50vw, -50%);
            transform: translate(50vw, -50%);
    opacity: 0; }
  10%, 90% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-50vw, -50%);
            transform: translate(-50vw, -50%);
    opacity: 0; } }

@keyframes cloud {
  0% {
    -webkit-transform: translate(50vw, -50%);
            transform: translate(50vw, -50%);
    opacity: 0; }
  10%, 90% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-50vw, -50%);
            transform: translate(-50vw, -50%);
    opacity: 0; } }

@-webkit-keyframes cloud-wide {
  0% {
    -webkit-transform: translate(350px, -50%);
            transform: translate(350px, -50%);
    opacity: 0; }
  10%, 90% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-350px, -50%);
            transform: translate(-350px, -50%);
    opacity: 0; } }

@keyframes cloud-wide {
  0% {
    -webkit-transform: translate(350px, -50%);
            transform: translate(350px, -50%);
    opacity: 0; }
  10%, 90% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(-350px, -50%);
            transform: translate(-350px, -50%);
    opacity: 0; } }

.brand {
  display: block;
  width: 20em;
  max-width: 90%;
  margin: 0 auto 10px; }
  .brand > path {
    fill: #1377ee; }

.desc {
  font-size: 1.25em;
  font-weight: 600;
  color: #1377ee;
  text-align: center;
  margin: 0; }
  @media (max-width: 400px) {
    .desc {
      font-size: 1em; } }

.screencast {
  max-width: 100%;
  height: auto;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1vw 10vw rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 40px auto; }

.form {
  text-align: center;
  margin-top: 0;
  position: relative; }
  .form h2 {
    color: #1377ee;
    margin-top: 0; }
    @media (max-width: 400px) {
      .form h2 {
        font-size: 1.15em; } }
  .form form {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border-radius: 100px;
    border: 2px solid white;
    margin-bottom: 2em; }
  .form .email,
  .form .submit {
    font: inherit;
    border-radius: 100px;
    border: none;
    outline: none;
    -webkit-appearance: none; }
  .form .email {
    width: 100%;
    background: white;
    padding-right: 10px;
    padding: .5em 1.25em;
    letter-spacing: 0.5px; }
  .form .submit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: #1377ee;
    border: none;
    padding: .5em 1.5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: .8em; }
    .form .submit:hover {
      background-color: #2b85f0; }
    .form .submit:active {
      background-color: #116bd6; }
  .form p {
    color: #1377ee;
    font-weight: bold; }
    .form p a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid; }
      .form p a:hover, .form p a:focus {
        color: #0a3c77; }
  .form .contact > a {
    margin-left: .25em; }
  .form .links > a {
    text-transform: uppercase;
    font-size: .8em;
    margin: 0 1em;
    letter-spacing: .05em; }

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
  opacity: 0;
  pointer-events: none;
  width: 5px; }

#drift-widget-container {
  -webkit-animation: drift .5s 3s both;
          animation: drift .5s 3s both; }

@-webkit-keyframes drift {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes drift {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
