$blue: #0072aa;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #eff6f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 2%;
  overflow: hidden;

  @media (max-width: 520px) {
    background-image: url(../img/bg-small.jpg);
    padding: 20px;
  }
}

.logo {
  width: 80px;
  width: 15vw;
  max-width: 80px;
  margin-bottom: 3vh;

  .rotate {
    animation: rotate 3s infinite cubic-bezier(0.5, 0, 0.5, 1);
    transform-origin: 95% 5%;
  }

  .translateX {
    animation: translateX 3s infinite -.5s cubic-bezier(0.5, 0, 0.5, 1);
    transform-origin: top center;
  }

  .translateY {
    animation: translateY 1.5s infinite -1.25s cubic-bezier(0.5, 0, 0.5, 1);
    transform-origin: top center;
  }

  @keyframes rotate {
    0%, 100% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(20deg);
    }
  }

  @keyframes translateX {
    0%, 100% {
      transform: translateX(40%);
    }
    50% {
      transform: translateX(-20%);
    }
  }

  @keyframes translateY {
    0%, 100% {
      transform: translateY(0) scaleY(.95);
    }
    50% {
      transform: translateY(5%) scaleY(1);
    }
  }
}

.clouds {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .18;
  pointer-events: none;

  @media (max-width: 480px) {
    display: none;    
  }
  
  > div {
    position: absolute;
    left: 50%;
    animation: cloud 10s infinite linear;
    
    @media (min-width: 700px) {
      animation-name: cloud-wide;
    }
  }
  
  .cloud1 {
    width: 177px;
    top: 25%;
  }
  
  .cloud2 {
    width: 214px;
    top: 50%;
    animation-delay: -3s;
  }
  
  .cloud3 {
    width: 275px;
    top: 75%;
    animation-delay: -7s;
  }
  
  @keyframes cloud {
    0% {
      transform: translate(50vw,-50%);
      opacity: 0;
    }
    10%, 90% {
      opacity: 1;
    }
    100% {
      transform: translate(-50vw,-50%);
      opacity: 0;
    }
  }
  
  @keyframes cloud-wide {
    0% {
      transform: translate(350px,-50%);
      opacity: 0;
    }
    10%, 90% {
      opacity: 1;
    }
    100% {
      transform: translate(-350px,-50%);
      opacity: 0;
    }
  }
}

.brand {
  display: block;
  width: 20em;
  max-width: 90%;
  margin: 0 auto 10px;

  > path {
    fill: $blue;
  }
}

.desc {
  font-size: 1.25em;
  font-weight: 600;
  color: $blue;
  text-align: center;
  margin: 0;

  @media (max-width: 400px) {
    font-size: 1em;
  }
}

.screencast {
  max-width: 100%;
  height: auto;
  box-shadow: 0 2px 20px rgba(black, .3);
  box-shadow: 0 1vw 10vw rgba(black, .3);
  border-radius: 3px;
  margin: 40px auto;
}

.form {
  text-align: center;
  margin-top: 0;
  position: relative; // Avoid screencast shadow

  h2 {
    color: $blue;
    margin-top: 0;

    @media (max-width: 400px) {
      font-size: 1.15em;
    }
  }
  
  form {
    max-width: 100%;
    display: flex;
    background-color: white;
    border-radius: 100px;
    border: 2px solid white;
    margin-bottom: 2em;
  }

  .email,
  .submit {
    font: inherit;
    border-radius: 100px;
    border: none;
    outline: none;
    -webkit-appearance: none;
  }

  .email {
    width: 100%;
    background: white;
    padding-right: 10px;
    padding: .5em 1.25em;
    letter-spacing: 0.5px;
  }

  .submit {
    flex: 0 0 auto;
    background-color: $blue;
    border: none;
    padding: .5em 1.5em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: .8em;

    &:hover {
      background-color: mix(white, $blue, 10%);
    }

    &:active {
      background-color: mix(black, $blue, 10%);
    }
  }

  p {
    color: $blue;
    font-weight: bold;

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid;

      &:hover,
      &:focus {
        color: white;
      }
    }
  }

  .contact {

    > a {
      margin-left: .25em;
    }
  }

  .links {

    > a {
      text-transform: uppercase;
      font-size: .8em;
      margin: 0 1em;
      letter-spacing: .05em;
    }
  }
}

// https://github.com/bfred-it/iphone-inline-video

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}
